<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcarrbraint.dmorgan.awiseman.interactiveandroidbeaconsystem" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName=".MainMenu" >
        </activity>
        <activity
            android:name=".PlanetActivity"
            android:label="@string/title_activity_planet"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tcarrbraint.dmorgan.awiseman.interactiveandroidbeaconsystem.MainMenu" />
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:parentActivityName=".CameraInstructionActivity" >
        </activity>
        <activity
            android:name=".CameraInstructionActivity"
            android:parentActivityName=".MainMenu" >
        </activity>
        <activity
            android:name=".CameraSubmitActivity"
            android:label="@string/title_activity_camera_submit"
            android:parentActivityName=".CameraActivity" >
        </activity>
        <activity
            android:name=".AdultModeActivity"
            android:label="@string/title_activity_statue_of_liberty" >
        </activity>
    </application>

</manifest>
